Options All -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^(.*)$
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule .* /index.php [L]
RewriteRule .* polkryptex/.showup/index.php [L]
</IfModule>