html {
  height: 100%;
  box-sizing: border-box;
  font-size: $fs-html;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-size: $fs-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  a, p, span, strong, select, input, option, textarea, li {
    font-size: $fs-body;
  }

  .form-select {
    font-size: $fs-body;
  }
}

.-flex {
  display: flex;
}

.-flex-center {
  display: flex;
  align-items: center;
}

.-flex-justify-center {
  justify-content: center;
}

.-font-primary {
  font-family: $f-primary;
}

.-font-secondary {
  font-family: $f-secondary;
}

.-text-center {
  text-align: center;
}

.-text-justify {
  text-align: justify;
  text-justify: inter-word;
}

@each $weight in $font-weights {
  .-fw-#{$weight} {
    font-weight: $weight;
  }
}

@for $i from 1 through 5 {
  h#{$i} {
    font-size: #{7 - $i}rem;
  }
}

@for $i from 1 through 10 {
  .-mh-#{$i * 10} {
    min-height: #{$i * 10}vh;
  }
}

@for $i from 1 through 10 {
  .-mr-#{$i} {
    margin-right: #{$i}rem;
  }
  .-ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .-mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .-mb-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .-pt-#{$i} {
    padding-top: #{$i}rem;
  }
  .-pb-#{$i} {
    padding-bottom: #{$i}rem;
  }
  .-pl-#{$i} {
    padding-left: #{$i}rem;
  }
  .-pr-#{$i} {
    padding-right: #{$i}rem;
  }
}
