html {
  height: 100%;
  box-sizing: border-box;
  font-size: $fs-html;
  line-height: 1.15;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-size: $fs-body;
  line-height: 1.625em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  #app {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .container {
      flex: 1 0 auto;
    }

    & > .expanded-footer {
      flex-shrink: 0;
    }
  }

  a,
  p,
  span,
  strong,
  select,
  input,
  option,
  textarea,
  li {
    font-size: $fs-body;
  }

  .form-select {
    font-size: $fs-body;
  }

  small,
  .small {
    font-size: 1.1rem;
  }
}

h1,
.h1 {
  font-size: 6rem;

  .span,
  span,
  strong {
    font-size: 6rem;
  }
}

h2,
.h2 {
  font-size: 5rem;

  .span,
  span,
  strong {
    font-size: 5rem;
  }
}

h3,
.h3 {
  font-size: 4rem;

  .span,
  span,
  strong {
    font-size: 4rem;
  }
}

h4,
.h4 {
  font-size: 3rem;

  .span,
  span,
  strong {
    font-size: 3rem;
  }
}

a {
  text-decoration: none;
  color: $c-hyperlink;

  &.faded {
    color: $c-hyperlink-faded;

    &:hover {
      color: black;
    }
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #8b959e;
}

h1,
h2,
h3,
h4,
h5 {
  &.accent {
    font-family: $f-primary;
    font-weight: 700;
  }
}

form,
.form {
  width: 100%;
}

.btn {
  display: inline-flex;
  height: 4.5rem;
  padding: 0 2rem;
  line-height: 1.5rem;
  font-size: 1.35rem;
  align-items: center;
  border-radius: 1rem;
  font-size: $fs-body;
  justify-content: center;
  font-weight: 500;

  &-mobile {
    @include media-breakpoint-down(md) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

.btn-dark {
  &:hover {
    color: $c-dark;
    background: transparent;
  }
}

.btn-secondary {
  &:hover {
    color: $c-light;
    background: $c-dark;
  }
}

.modal {
  .modal-title {
    font-family: $f-secondary;
    font-weight: 700;
  }
}
