a {
  text-decoration: none;
  color: $c-hyperlink;

  &.faded {
    color: $c-hyperlink-faded;

    &:hover {
      color: black;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  &.accent {
    font-family: $f-primary;
    font-weight: 700;
  }
}

form,
.form {
  width: 100%;
}

.btn {
  display: inline-flex;
  height: 4rem;
  padding: 0px 1.5rem;
  line-height: 1.5rem;
  font-size: 1.35rem;
  align-items: center;
  border-radius: 2rem;
  font-size: $fs-body;
  justify-content: center;

  &-mobile {
    @include media-breakpoint-down(md) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

.btn-dark {
  &:hover {
    color: $c-dark;
    background: transparent;
  }
}

.btn-secondary {
  &:hover {
    color: $c-light;
    background: $c-dark;
  }
}

.modal {
  .modal-title {
    font-family: $f-secondary;
    font-weight: 700;
  }
}
