@import "fonts/google";
@import "fonts/fluent-system-icons";

@import "core/variables";

@import "bootstrap/bootstrap";

@import "core/global";
@import "core/animations";

@import "core/modifiers";

@import "components/box";
@import "components/cookie";
@import "components/footer";
@import "components/forms";
@import "components/hero";
@import "components/navigation";
@import "components/phone";
@import "components/signout";
@import "components/toast";
@import "components/offline";

@import "dashboard/dashboard";
@import "dashboard/account";
@import "dashboard/transactions";