composer.phar
/vendor/
/public/media/uploads/

# Node modules
node_modules/

# Node JS lock
package-lock.json

# Tests
.phpunit.result.cache

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
.vs/
.tmp/

# Builds
build/
builds/
app/build/
app/builds/

# Temp storage
app/storage/blade/*
app/storage/cache/*
app/storage/logs/*
app/storage/session/*

# Certificates and authentication
app/cert/

# Configuration
app/config.php
app/config-sample.php

# Logs
app/logs/
app/storage/logs/
logs/*
logs
*.log
npm-debug.log*

# Thumbnails
._*

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### Sass ###
.sass-cache/
#*.css.map

### Less ###
*.cs
