.account {
    &__section {
        margin-bottom: 3rem;
    }
    
    &__banner {
        display: flex;

        & > div:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg, img {
            display: block;
            margin-right: 3rem;
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}