
.cookie {
    &__container {
        position: relative;
        z-index: 2;
        height: auto;
        background: rgb(243, 244, 245);
        color: rgb(117, 125, 133);
        font-size: 0.85rem;
        width: 100%;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 1.5rem;
        overflow: hidden;
        opacity: 1;
        display: flex;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}