.toast__container {
    position: fixed;
    z-index: 500;
    bottom: 0;
    right: 0;
    margin: 1rem;

    .toast {
        opacity: 1;
        margin-bottom: 1rem;
        // background-color: #1f2940;
        // border: 1px solid #000;

        svg {
            margin-top: .2rem;
            margin-right: .4rem;
        }

        &.show {
            opacity: 1;
        }
    }
}