@font-face {
  font-family: "FluentSystemIcons-Filled";
  src: url("./fonts/FluentSystemIcons-Filled.ttf?f0033144c1828e27a7cc5e23e97d1869")
    format("truetype");
}

@font-face {
  font-family: "FluentSystemIcons-Regular";
  src: url("./fonts/FluentSystemIcons-Regular.ttf?8743a0fcbc5ac28e076db2cf06c4eda4")
    format("truetype");
}

i[class^="icon-"]:before,
i[class*=" icon-"]:before {
  font-family: FluentSystemIcons-Regular !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  font-size: 2.5rem;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i[class^="icon-filled-"]:before,
i[class*=" icon-filled-"]:before {
  font-family: FluentSystemIcons-Filled !important;
}

@for $i from 1 through 26 {
  i[class^="icon-"],
  i[class*=" icon-"] {
    &.-s-#{$i} {
      &:before {
        font-size: #{($i * 0.1) + 0.9}rem;
      }
    }
  }
}

@import "fluent-system-icons-regular";
@import "fluent-system-icons-filled";
