
/* Fonts */
$f-primary: 'Raleway', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
$f-secondary: 'Montserrat', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;

$fs-html: 10px;
$fs-body: 1.5rem;
$fs-small: 1.2rem;

/* Font Weights */
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 800;
$fw-extra-black: 900;

$font-weights: $fw-thin, $fw-light, $fw-regular, $fw-bold, $fw-black, $fw-extra-black;

/* Colors */
$c-white: #fff;
$c-light: rgb(243, 244, 245);
$c-dark: rgb(25, 28, 31);
$c-component-background: rgb(243, 244, 245);
$c-hyperlink: rgb(0, 117, 235);
$c-hyperlink-faded: rgb(139, 149, 158);

/* Override Bootstrap colors */
$theme-colors: (
  primary:  rgb(0, 117, 235),
  secondary:rgba(230, 230, 230, 0.6),
  success:    #000,
  info:       #000,
  warning:    #000,
  danger:     #000,
  light:      rgb(243, 244, 245),
  light-dark: rgb(139, 149, 158),
  dark:       rgb(25, 28, 31)
);