.expanded-footer {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(243, 244, 245);
  color: rgb(139, 149, 158);

  a {
    color: rgb(139, 149, 158);
    text-decoration: none;
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: rgb(25, 28, 31);
    font-family: $f-secondary;
    font-weight: 700;
  }

  &__list {
    padding-top: 3rem;
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;

    li {
      font-size: 1.2rem;
    }
  }

  &__bottom {
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: justify;
    text-justify: inter-word;
  }

  &__menu {
    &__header {
      color: rgb(120, 129, 136);
      font-family: $f-secondary;
      font-weight: 700;
      font-size: 1.5rem;
    }

    li {
      display: block;
      padding-bottom: .5rem;
    }

    a {
      font-size: 1.2rem;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 2rem;
  }
}
