.floating-input {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
  }

  &__label,
  label {
    position: absolute;
    font-family: inherit;
    font-weight: 400;
    line-height: inherit;
    left: 1rem;
    top: 1rem;
    padding: 0 0.5rem;
    color: #80868b;
    background: #ffffff;
    transition: all 0.2s ease;
  }

  &__field,
  input {
    position: absolute;
    font-family: inherit;
    font-weight: 400;
    line-height: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    z-index: 1;
    border: 0.2rem solid #dadce0;
    outline: none;
    border-radius: 0.5rem;
    color: #121212;
    background: transparent;
    transition: all 0.2s ease;

    &.-alert {
      border: 0.2rem solid #ff6666;
      box-shadow: 0.4rem 0.4rem 1rem 0.2rem #ff66663d;
    }

    &:disabled {
      color: #afb5b9;
    }

    &::placeholder {
      opacity: 0;
      visibility: hidden;
      color: transparent;
    }

    // Label Floating when Focus
    &:focus {
      border: 0.2rem solid $c-dark;

      & + label,
      & + .floating-input__label {
        font-size: 1.3rem;
        font-weight: 500;
        top: -1rem;
        left: 1rem;
        z-index: 5;
        color: $c-dark;
      }
    }

    // Label Keep Floating when not Focus
    &:not(:placeholder-shown).floating-input__field {
      &:not(:focus) {
        & + label,
        & + .floating-input__label {
          font-size: 1.3rem;
          font-weight: 500;
          top: -1rem;
          left: 1rem;
          z-index: 5;
        }
      }
    }
  }

  input[type="file"] {
    cursor: pointer;

    &::file-selector-button {
      background-color: transparent;
      padding: $input-padding-y $input-padding-x;
      margin: (-$input-padding-y) (-$input-padding-x);
      margin-inline-end: $input-padding-x;
      color: #afb5b9;
      pointer-events: none;
      border-color: #dadce0;
      border-style: solid;
      border-width: 0;
      border-inline-end-width: $input-border-width;
      border-radius: 0; // stylelint-disable-line property-disallowed-list
    }
  }
}

.floating-radio {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  label {
    display: block;
    width: 100%;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + &__label {
    border-color: #121212;
  }

  &__label {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border: 0.2rem solid #dadce0;
    outline: none;
    border-radius: 0.5rem;
    color: #121212;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;

    & > img,
    & > svg {
      width: 100%;
      height: 2.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      object-fit: contain;
    }
  }

  &.-split {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);

    label {
      flex: 0 0 auto;
      width: 50%;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
  }
}

input[type="checkbox"] {
  &.-alert {
    border: 0.2rem solid #ff6666;
    box-shadow: 0.4rem 0.4rem 1rem 0.2rem #ff66663d;
  }
}
