.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .navbar-collapse {
    @include media-breakpoint-down(lg) {
      margin-top: 1rem;
    }
  }

  .navbar-toggler {
    border-color: transparent;
  }

  .navbar-brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 3rem;
    }

    p {
      margin: 0;
      color: $c-dark;
      font-size: 2.3rem;
      font-family: $f-secondary;
      font-weight: 700;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 1.5rem 1rem;
      }

      @include media-breakpoint-down(lg) {
        width: 100%;

        .nav-link {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 4.5rem;
          margin-top: 1rem;
          padding: 0 2rem;
          background-color: $c-white;
          border-color: $c-dark;
          border: 0.2rem solid $c-dark;
          border-radius: 1rem;
          text-align: center;
          color: $c-dark;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
