.signout {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.3);

  &.--show {
    display: flex;
    opacity: 1;
  }

  &__modal {
    max-width: 100%;
    width: 70rem;
    padding: 4rem;
    background: #fff;
    border-radius: 2rem;
    margin: 2rem;

    &__body {
      .modal-title {
        font-size: $fs-body;
      }
    }

    &__footer {
      justify-content: space-between;
      align-items: center;

      strong {
        font-size: $fs-body;
        padding: 0;
        margin: 0;
      }
    }
  }
}
