# We define routing behavior and cache here

Options All -Indexes
AddDefaultCharset UTF-8

<IfModule mod_headers.c>
  Header unset Server
  Header unset X-Powered-By
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.php [L]
</IfModule>

<FilesMatch "\.(webmanifest)$">
  Header set Content-Type "application/manifest+json; charset=utf-8"
  Header set Cache-Control "max-age=31536000, immutable"
  Header set X-Frame-Options: sameorigin
  Header set X-Content-Type-Options "nosniff"
</FilesMatch>

<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|css|svg|svg+xml|json|js)$">
  AddDefaultCharset UTF-8
  Header set Cache-Control "max-age=31536000, immutable"
  Header set X-Frame-Options: sameorigin
  Header set X-Content-Type-Options "nosniff"
</FilesMatch>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/json application/x-javascript application/javascript application/manifest application/manifest+json
</IfModule>